body {
    margin: 0px;
    background-color: black;
    user-select: none;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.btn{
    width: 100px;
    margin-top: 40px;
    margin-right: 40px;
    background-color: burlywood;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
button:focus{
    outline: none;
}
p{
    width: 350px;
    color: white;
    text-transform: capitalize;
}
span{
    font-size: 28px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}